.htaccess.sample
staging.magento.dev/
var/cache/
app/etc/config.xml
var/cache/
var/session
app/etc/local.xml
app/etc/config.xml
app/etc/*
.idea

build/*.tgz
build/*.html
app/code/community/Nexcessnet/Turpentine/misc/custom_include*.vcl
*~
.idea
.DS_Store
nbproject/
/media/*
var/report/*