body {
    overflow-x: hidden;
}

/*Topbar links*/
.topbar_links {
    margin-top: 0 !important;
    position: relative;

}
.topbar_links li:first-child {}
.topbar_links li:last-child  {
    padding-right:0;
}

.topbar_links li {
    font-family: Helvetica;
}

/* TopBar */
#topbar {
    background:none repeat scroll 0 0 #000;
    color:#FFF;
    font-size:12px;
    padding:10px 0 0;
    border-bottom:3px solid #FA9221;
}
#topbar ul {
    /*margin:5px 0 0;*/
}
#topbar a {
    color:#9F9F9F;
}
#topbar a:hover {
    color:#f89223
}
#topbar .user-links .welcome {
    padding:10px;
}
#topbar .user-links ul {
    background:none repeat scroll 0 0 #FA9221;
    margin:0;
    padding:10px;
}
#topbar .user-links a {
    color:#fff;
}
.welcome {}


/* Padding fixes */
.no-pad-right {
    padding-right: 0 !important;
}
.no-pad-left{
    padding-left: 0 !important;
}

/*Logo*/
.logo {
    margin: 10px 15px 10px 0;
    display: block;
}
.logo img {
    display: block;
}

/*Header*/
/* Header */
#header {
    padding-top:10px;
}
#header .logo {
    display:block;
    margin-bottom:20px;
}
#header .block-topcart {
    margin-top: 5px;
    padding: 14px 20px 10px;
}
#header .block-topcart .block-title {
    font-size: 15px;
    margin-bottom: 5px
}
#header .block-topcart p.empty {
    font-size: 12px;
    color: #666;
    font-style: italic
}
#header .block-topcart .block-content {
    display: none
}

/* Navbar */
.navbar {
    border:0 none;
    border-radius:0;
    margin:0;
    border-bottom:3px solid #E7E7E7;
}
.navbar .navbar-form {
    padding-right:10px;
}
.navbar-nav {
}
.navbar-default .navbar-nav > li:hover > a {
    background:#fff;
    box-shadow:0 6px 12px rgba(0,0,0,0.176);
}
.navbar ul.level0,.navbar ul.level1 {
    display:none;
    text-align:left;
}
.navbar .dropdown-menu {
    border:0;
}
.navbar ul.level1 {
    left:150px;
    top:0; }
.navbar-nav > li {
    display:inline-block;
}

#footer {
    background-color:#FA9221;
    color:rgba(0,0,0,0.3);
    padding:20px 0;
    border-bottom:5px solid #333;
    font-size:12px;
    margin-top: 20px;
}
#footer h4 {
    color:rgba(0,0,0,0.6);
    font-size:14px;
}
#footer ul {
    list-style-position:inside;
    padding:0;
    margin:0;
}
#footer a {
    color:rgba(0,0,0,0.5);
    font-size:12px;
}
#footer a:hover {
    color:rgba(0,0,0,0.8);
}
#footer hr {
    border-color:rgba(0,0,0,0.2);
    border-style:dotted;
}
/* Social Icons */
#footer .footer-social a {
    display:inline-block;
    font-size:12px;
    line-height:24px;
}
#footer .footer-social a span {
    background:url(../images/sprite-social.png) no-repeat scroll 0 0
    rgba(0,0,0,0);
    display:inline-block;
    float:left;
    height:24px;
    margin-right:6px;
    padding-left:20px;
    width:24px;
}
#footer .footer-social a.ico-facebook span {
    background-position:0 0;
}
#footer .footer-social a.ico-twitter span {
    background-position:-40px 0;
}
#footer .footer-social a.ico-google span {
    background-position:-80px 0;
}
#footer .footer-social a.ico-facebook:hover span {
    background-position:0 -28px;
}
#footer .footer-social a.ico-twitter:hover span {
    background-position:-40px -28px;
}
#footer .footer-social a.ico-google:hover span {
    background-position:-80px -28px;
}
.block-subscribe {
    margin-top: 20px;
}
/* Carousel */
#after-header {
    background-color: #efefef;
}
#slider-home {
    text-align:center;
    padding:40px 0;
}
#slider-home .carousel-control.right,#slider-home .carousel-control.
left {
    background:none;
}
#slider-home .carousel-indicators {
    bottom:20px;
    left:0;
    margin:0;
    text-align:left;
}
/*Carousel Navigation*/
.carousel-control.right {
    background: transparent !important;
}
.carousel-control.left{
    background:transparent !important;
}

/* Carousel Bullets */
.carousel-indicators li {
    border:0;
    background-color:#333;
}
.carousel-indicators li:hover {
    background:#41b7d8;
}
#slider-home .carousel-indicators .active {
    background:#f37541;
    border-color:#f37541;
}
/* 3 Banners */
#banner-home {
}
#banner-home div {
    color:#FFF;
    height:85px;
    margin:25px 0;
    padding:15px;
    background: #ddd;
}
#banner-home h3 {
    font-size:20px;
    margin:0;
    padding:0;
}
/* Text Banners Background Colors */
#banner-home div.bg-orange {
    background:#f89223;
}
#banner-home div.bg-cyan {
    background:#41b7d8;
}
#banner-home div.bg-darkgrey {
    background:#333;
}
/* Left Menu */
.block-leftnav { margin-top: 35px; }
.block-leftnav .block-title {
    font-size:16px; border-bottom: 1px solid #E1E1E1; padding-bottom:10px;
}
.block-leftnav .block-content { }
.block-leftnav .block-content ul { padding: 0; list-style-position: inside;}
.block-leftnav .block-content ul li {    }
.block-leftnav .block-content ul li.active { background: #333; color: #fff; padding-left: 10px; }
.block-leftnav .block-content ul li.active a {color: #FA9221;  }
.block-leftnav .block-content ul li a { font-size: 13px;
    color: #333   }
.block-leftnav .block-content ul li a:hover { color: #FA9221;   }
.block-leftnav .block-content > ul > li.level0 { border-bottom: 1px solid #E1E1E1; padding: 10px;}
.block-leftnav .block-content > ul > li.level0:last-child {
    border-bottom: 0; }
.block-leftnav .block-content > ul > li.level0:hover {
    background-color: #efefef}
.block-leftnav .block-content > ul > li.level0 > a { font-weight: bold; }
.block-leftnav .block-content ul ul { padding-left: 15px; }
.block-leftnav .block-content ul ul ul a { color: #999 }

/* Product List */
.products-grid {
    list-style-type:none;
    margin:0;
    padding:0;
}
.products-grid li.item {
    margin-bottom: 30px;
}
.products-grid .product-name {
    font-size:14px;
    min-height:30px;
    margin:0;
}
.products-grid .panel-footer {
    overflow:hidden;
}
.product-name a {
    color:#333;
}
.price-box p {
    margin:0;
}
.products-grid .product-image {
    margin-bottom:10px;
    display:block;
}

