@font-face {
  font-family: 'granada-font';
  src: url('../font/granada-font.eot?50975050');
  src: url('../font/granada-font.eot?50975050#iefix') format('embedded-opentype'),
       url('../font/granada-font.woff?50975050') format('woff'),
       url('../font/granada-font.ttf?50975050') format('truetype'),
       url('../font/granada-font.svg?50975050#granada-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'granada-font';
    src: url('../font/granada-font.svg?50975050#granada-font') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "granada-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  vertical-align: middle;
}
 
.icon-user:before { content: '\e800'; } /* '' */
.icon-graph-bar:before { content: '\e801'; } /* '' */
.icon-favourites:before { content: '\e802'; } /* '' */
.icon-heart-cart:before { content: '\e803'; } /* '' */
.icon-list-icon:before { content: '\e804'; } /* '' */
.icon-user-icon:before { content: '\e805'; } /* '' */
.icon-right240:before { content: '\e806'; } /* '' */
.icon-search84:before { content: '\e807'; } /* '' */
.icon-special1:before { content: '\e808'; } /* '' */
.icon-star105:before { content: '\e809'; } /* '' */
.icon-table41:before { content: '\e80a'; } /* '' */
.icon-thin4:before { content: '\e80b'; } /* '' */
.icon-date3:before { content: '\e80c'; } /* '' */
.icon-right106:before { content: '\e80d'; } /* '' */
.icon-thin35:before { content: '\e80e'; } /* '' */
.icon-glyph:before { content: '\e80f'; } /* '' */
.icon-facebook:before { content: '\e810'; } /* '' */
.icon-twitter:before { content: '\e811'; } /* '' */
.icon-linkedin:before { content: '\e812'; } /* '' */
.icon-email:before { content: '\e813'; } /* '' */
.icon-gplus:before { content: '\e814'; } /* '' */
.icon-pinterest:before { content: '\e815'; } /* '' */
.icon-linkedin-1:before { content: '\e816'; } /* '' */
.icon-shopping111:before { content: '\e817'; } /* '' */
.icon-shopping cart:before { content: '\e818'; } /* '' */
.icon-chain:before { content: '\e819'; } /* '' */
.icon-two92:before { content: '\e81a'; } /* '' */
.icon-web38:before { content: '\e81b'; } /* '' */
.icon-check25:before { content: '\e81c'; } /* '' */
.icon-verified10:before { content: '\e81d'; } /* '' */
.icon-check20:before { content: '\e81e'; } /* '' */
.icon-glyph-1:before { content: '\e81f'; } /* '' */
.icon-glyph-2:before { content: '\e820'; } /* '' */
.icon-glyph-3:before { content: '\e821'; } /* '' */
.icon-glyph-4:before { content: '\e822'; } /* '' */
.icon-anniversary:before { content: '\e823'; } /* '' */
.icon-checked11:before { content: '\e824'; } /* '' */
.icon-present1:before { content: '\e825'; } /* '' */
.icon-magnifier32:before { content: '\e826'; } /* '' */
.icon-magnifying7:before { content: '\e827'; } /* '' */
.icon-angle-down:before { content: '\e828'; } /* '' */
.icon-angle-up:before { content: '\e829'; } /* '' */
.icon-down-open-big:before { content: '\e82a'; } /* '' */
.icon-up-open-big:before { content: '\e82b'; } /* '' */
.icon-minus104:before { content: '\e82c'; } /* '' */
.icon-plus79:before { content: '\e82d'; } /* '' */
.icon-glyph-5:before { content: '\e82e'; } /* '' */
.icon-menu27:before { content: '\e82f'; } /* '' */
.icon-thumbs-up:before { content: '\e830'; } /* '' */
.icon-arrow382:before { content: '\e831'; } /* '' */
.icon-up77:before { content: '\e832'; } /* '' */
.icon-arrow383:before { content: '\e833'; } /* '' */
.icon-thin36:before { content: '\e834'; } /* '' */
.icon-calendar151:before { content: '\e835'; } /* '' */
.icon-empty32:before { content: '\e836'; } /* '' */
.icon-speech44:before { content: '\e837'; } /* '' */
.icon-2424:before { content: '\e838'; } /* '' */
.icon-delivery4:before { content: '\e839'; } /* '' */
.icon-unlocked30:before { content: '\e83a'; } /* '' */
.icon-cogwheels7:before { content: '\e83b'; } /* '' */
.icon-pencil19:before { content: '\e83c'; } /* '' */
.icon-server13:before { content: '\e83d'; } /* '' */
.icon-ascending23:before { content: '\e83e'; } /* '' */
.icon-dribbble:before { content: '\e83f'; } /* '' */
.icon-pizza7:before { content: '\e840'; } /* '' */
.icon-hot23:before { content: '\e841'; } /* '' */
.icon-portfolio7:before { content: '\e842'; } /* '' */
.icon-twitter32:before { content: '\e843'; } /* '' */
.icon-user85:before { content: '\e844'; } /* '' */
.icon-user89:before { content: '\e845'; } /* '' */
.icon-quote2:before { content: '\e846'; } /* '' */
.icon-arrow395:before { content: '\e847'; } /* '' */
.icon-rss-1:before { content: '\e848'; } /* '' */
.icon-favourites-1:before { content: '\e849'; } /* '' */
.icon-list58:before { content: '\e84a'; } /* '' */
.icon-delicious:before { content: '\e84b'; } /* '' */
.icon-flickr:before { content: '\e84c'; } /* '' */
.icon-skype:before { content: '\e84d'; } /* '' */
.icon-bullet4:before { content: '\e84e'; } /* '' */
.icon-square40:before { content: '\e84f'; } /* '' */
.icon-table41-1:before { content: '\e850'; } /* '' */
.icon-star105-1:before { content: '\e851'; } /* '' */
.icon-move13:before { content: '\e852'; } /* '' */
.icon-profile4:before { content: '\e853'; } /* '' */
.icon-right240-1:before { content: '\e854'; } /* '' */
.icon-graphs:before { content: '\e855'; } /* '' */
.icon-pensil:before { content: '\e856'; } /* '' */
.icon-pizza:before { content: '\e857'; } /* '' */
.icon-server:before { content: '\e858'; } /* '' */
.icon-settings:before { content: '\e859'; } /* '' */
.icon-coffee:before { content: '\e85a'; } /* '' */
.icon-bag:before { content: '\e85b'; } /* '' */
.icon-plain9:before { content: '\e85c'; } /* '' */
.icon-skype7:before { content: '\e85d'; } /* '' */
.icon-email20:before { content: '\e85e'; } /* '' */
.icon-spin3:before { content: '\e860'; } /* '' */