.back-to-top.btt-shown {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

/* Category Blocks for Category Page */
.catblocks li {
    width: 25%;
    float: left;
    padding: 5px;
    margin-bottom: 20px;
}
.catblocks li:last-child {
    padding-right:0;
}
.catblocks li:first-child {
    padding-left: 0;
}

.catblocks li span {
    margin: 0 auto;
}

.label-icon.sale-label {
    background-color: white;
    opacity: .8;
}

/* Main menu sticky */
.menu li:first-child{
    padding-left:0 !important;
}
.menu li:last-child {
    padding-right:0 !important;
}

.footer .footer-products-list img {
    max-height: 100px;
    width: auto;
}

.footer-top .row, .footer-bottom .row {
    padding: 20px 0 15px;
}